Step One --- Inspecting the Data

In [1]:
import pandas as pd

In [2]:
data_f = pd.read_csv('D:\Cycling Performance Analysis\Cycling_Report\Cycling_Report\data\cycling.txt',delim_whitespace=True)
data_f.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Gurfateh Singh\AppData\Local\Temp\ipykernel_25736\2063432896.py:1: SyntaxWarning: invalid escape sequence '\C'
  data_f = pd.read_csv('D:\Cycling Performance Analysis\Cycling_Report\Cycling_Report\data\cycling.txt',delim_whitespace=True)
C:\Users\Gurfateh Singh\AppData\Local\Temp\ipykernel_25736\2063432896.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data_f = pd.read_csv('D:\Cycling Performance Analysis\Cycling_Report\Cycling_Report\data\cycling.txt',delim_whitespace=True)

      all_riders  rider_class stage  points stage_class
0  Tadej Pogačar  All Rounder    X1      15        flat
1  Tadej Pogačar  All Rounder    X2     219       hills
2  Tadej Pogačar  All Rounder    X3      34        flat
3  Tadej Pogačar  All Rounder    X4     264       hills
4  Tadej Pogačar  All Rounder    X6     114       hills

In [3]:
data_f.to_csv('cycle.csv',index = False)

In [4]:
data = pd.read_csv('D:\\Cycling Performance Analysis\\Cycling_Report\\Cycling_Report\\analysis\\cycle.csv')

In [5]:
data.head()

      all_riders  rider_class stage  points stage_class
0  Tadej Pogačar  All Rounder    X1      15        flat
1  Tadej Pogačar  All Rounder    X2     219       hills
2  Tadej Pogačar  All Rounder    X3      34        flat
3  Tadej Pogačar  All Rounder    X4     264       hills
4  Tadej Pogačar  All Rounder    X6     114       hills

In [6]:
data.info

<bound method DataFrame.info of            all_riders  rider_class stage  points stage_class
0       Tadej Pogačar  All Rounder    X1      15        flat
1       Tadej Pogačar  All Rounder    X2     219       hills
2       Tadej Pogačar  All Rounder    X3      34        flat
3       Tadej Pogačar  All Rounder    X4     264       hills
4       Tadej Pogačar  All Rounder    X6     114       hills
...               ...          ...   ...     ...         ...
3491  Fabian Lienhard    Unclassed   X17       0        flat
3492  Fabian Lienhard    Unclassed   X18       0       mount
3493  Fabian Lienhard    Unclassed   X19       0       mount
3494  Fabian Lienhard    Unclassed   X20       0       hills
3495  Fabian Lienhard    Unclassed   X21       0        flat

[3496 rows x 5 columns]>

In [7]:
data.columns

Index(['all_riders', 'rider_class', 'stage', 'points', 'stage_class'], dtype='object')

In [8]:
data['rider_class'].unique()

array(['All Rounder', 'Sprinter', 'Climber', 'Unclassed'], dtype=object)

In [9]:
data['stage'].unique()

array(['X1', 'X2', 'X3', 'X4', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11',
       'X12', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21'],
      dtype=object)

In [10]:
data['all_riders'].unique()

array(['Tadej Pogačar', 'Jonas Vingegaard', 'Remco Evenepoel',
       'João Almeida', 'Primož Roglič', 'Jasper Philipsen',
       'Jonathan Milan', 'Mattias Skjelmose', 'Florian Lipowitz',
       'Matteo Jorgenson', 'Wout Van Aert', 'Simon Yates',
       'Mathieu Van Der Poel', 'Lenny Martinez', 'Felix Gall',
       'Carlos Rodríguez', 'Enric Mas', 'Tim Merlier', 'Adam Yates',
       'Tobias Halland Johannessen', 'Kaden Groves', 'Santiago Buitrago',
       'Romain Grégoire', 'Thymen Arensman', 'Filippo Ganna',
       'Geraint Thomas', 'Biniam Girmay', 'Thibau Nys', 'Arnaud De Lie',
       'Jordi Meeus', 'Aleksandr Vlasov', 'Dylan Groenewegen',
       "Ben O'Connor", 'Oscar Onley', 'Sepp Kuss', 'Xandro Meurisse',
       'Gianni Vermeersch', 'Emiel Verstrynge', 'Amaury Capiot',
       'Ewen Costiou', 'Arnaud Démare', 'Raúl García Pierna',
       'Cristián Rodríguez', 'Kévin Vauquelin', 'Clément Venturini',
       'Phil Bauhaus', 'Jack Haig', 'Matej Mohorič', 'Fred Wright',
       'Alex Aranburu', 'Emanuel Buchmann', 'Bryan Coquard',
       'Ion Izagirre', 'Alexis Renard', 'Dylan Teuns', 'Benjamin Thomas',
       'Bruno Armirail', 'Clément Berthet', 'Stefan Bissegger',
       'Aurélien Paret-Peintre', 'Bastien Tronchon', 'Vincenzo Albanese',
       'Kasper Asgreen', 'Alex Baudin', 'Ben Healy', 'Neilson Powless',
       'Michael Valgren', 'Marijn Van Den Berg', 'Lewis Askey',
       'Valentin Madouas', 'Guillaume Martin', 'Quentin Pacher',
       'Paul Penhoët', 'Tobias Foss', 'Axel Laurance', 'Samuel Watson',
       'Louis Barré', 'Vito Braet', 'Hugo Page', 'Laurenz Rex',
       'Jonas Rutsch', 'Georg Zimmermann', 'Pascal Ackermann',
       'Joseph Blackmore', 'Alexey Lutsenko', 'Krists Neilands',
       'Jake Stewart', 'Michael Woods', 'Simone Consonni',
       'Quinn Simmons', 'Toms Skujiņš', 'Jasper Stuyven',
       'Jenno Berckmoes', 'Lennert Van Eetvelt', 'Brent Van Moer',
       'Will Barta', 'Pablo Castrillo', 'Iván García Cortina',
       'Gregor Mühlberger', 'Nelson Oliveira', 'Iván Romeo',
       'Einer Rubio', 'Laurence Pithie', 'Danny Van Poppel',
       'Mattia Cattaneo', 'Valentin Paret-Peintre',
       'Maximilian Schachmann', 'Ilan Van Wilder', 'Eddie Dunbar',
       'Luka Mezgec', 'Luke Plapp', 'Mauro Schmid',
       'Tobias Lund Andresen', 'Warren Barguil', 'Pavel Bittner',
       'Sean Flynn', 'Frank Van Den Broek', 'Mathieu Burgaudeau',
       'Steff Cras', 'Alexandre Delettre', 'Emilien Jeannière',
       'Jordan Jegat', 'Anthony Turgis', 'Mattéo Vercher',
       'Edoardo Affini', 'Tiesj Benoot', 'Victor Campenaerts',
       'Julian Alaphilippe', 'Alberto Dainese', 'Marc Hirschi',
       'Marius Mayrhofer', 'Michael Storer', 'Matteo Trentin',
       'Jhonatan Narváez', 'Nils Politt', 'Pavel Sivakov', 'Marc Soler',
       'Tim Wellens', 'Jonas Abrahamsen', 'Magnus Cort', 'Stian Fredheim',
       'Markus Hoelgaard', 'Anders Halland Johannessen',
       'Andreas Leknessund', 'Søren Wærenskjold', 'Davide Ballerini',
       'Cees Bol', 'Clément Champoussin', 'Yevgeniy Fedorov',
       'Sergio Higuita', 'Harold Tejada', 'Mike Teunissen',
       'Simone Velasco', 'Silvan Dillier', 'Jonas Rickaert',
       'Mathis Le Berre', 'Kamil Gradek', 'Robert Stannard',
       'Damien Touzé', 'Oliver Naesen', 'Callum Scotson', 'Harry Sweeny',
       'Cyril Barthe', 'Clément Russo', 'Connor Swift',
       'Roel Van Sintmaartensdijk', 'Guillaume Boivin', 'Matis Louvel',
       'Edward Theuns', 'Jasper De Buyst', 'Jarrad Drizners',
       'Sébastien Grignard', 'Eduardo Sepúlveda', 'Gianni Moscon',
       'Mick Van Dijke', 'Pascal Eenkhoorn', 'Bert Van Lerberghe',
       'Luke Durbridge', 'Elmar Reinders', 'Niklas Märkl', 'Tim Naberman',
       'Thomas Gachignard', 'Marco Haller', 'Fabian Lienhard'],
      dtype=object)

In [11]:
data.isnull().sum()

all_riders     0
rider_class    0
stage          0
points         0
stage_class    0
dtype: int64

In [12]:
print(data.dtypes)

all_riders     object
rider_class    object
stage          object
points          int64
stage_class    object
dtype: object